[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/FredrikAppelros/prezto
[submodule "node/nvm.symlink"]
	path = node/nvm.symlink
	url = https://github.com/creationix/nvm.git
